footer#footer 
	.center-container
		.partner
			h1 
				span.em PARTNERS
			ul.logo-list
				li 
					a(href="http://aloalo.garena.vn/")
						img(src="images/logo/aloalo.png", alt="Alo alo")
				li 
					a(href="http://sutrixmedia.com/")
						img(src="images/logo/sutrix.jpg", alt="Sutrix media")
				li
					a(href="http://www.riotgames.com/")
						img(src="images/logo/riot.png", alt="riot game")
				.clearfix
				li 
					a(href="http://garena.vn/")
						img(src="images/logo/garena.png", alt="Garena")
				li 
					a(href="http://sutrixcamper.com/lol/")
						img(src="images/logo/sutrix-lol.jpg", alt="Sutrix LOL")

		.follow-us
			h1 
				span.em FOLLOW 
				span US
			.channel
				a(href="https://www.youtube.com/channel/UCdSyZS-aUCX3rdwJvrbowXg/playlists")
					img(src="images/icons/youtube-128.png" alt="youtube channel sutrix lol")
				a(href="https://www.facebook.com/LOLsutrixmedia/")
					img(src="images/icons/facebook-128.png" alt="facebook channel sutrix lol")
		.rights
			span.em Sutrix LOL 2015. 
			span All right Reserved.
		.clearfix
