header#header
	.header-slide.lol-left-slide
		.slide-wrapper
			.img-wrap
				img(src="images/champs/ahri_0.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_1.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_2.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_3.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_4.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_5.jpg" alt="sutrix lol champions")
			.clearfix
	.header-slide.lol-right-slide
		.slide-wrapper
			.img-wrap
				img(src="images/champs/ahri_0.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_1.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_2.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_3.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_4.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/ahri_5.jpg" alt="sutrix lol champions")
			.clearfix
	.logo-wrap
		img(src="images/logo/lol-logo.jpg" alt="sutrix lol logo")
	.clearfix
	.main-nav
		.nav-wrap
			+nav([
				{href: '#', text: 'MEMBERS', title: 'MEMBERS'},
				{href: '#', text: 'BLOGS', title: 'BLOGS'},
				{href: '#', text: 'TOURNAMENTS', title: 'TOURNAMENTS'},
				{href: '#', text: 'VIDEOS', title: 'VIDEOS'},
				{href: '#', text: 'NEWS', title: 'NEWS'}
			])
			.clearfix