header#header
	.header-slide.lol-left-slide
		.slide-wrapper
			.img-wrap
				img(src="images/champs/twitch_6.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/Ahri_4.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/vayne_4.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/annie_8.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/veigar_8.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/vi_3.jpg" alt="sutrix lol champions")
			.clearfix
	.header-slide.lol-right-slide
		.slide-wrapper
			.img-wrap
				img(src="images/champs/volibear_2.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/warwick_6.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/xerath_3.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/xinZhao_6.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/zed_2.jpg" alt="sutrix lol champions")
			.img-wrap
				img(src="images/champs/zyra_1.jpg" alt="sutrix lol champions")
			.clearfix
	.logo-wrap
		img(src="images/logo/lol-logo.jpg" alt="sutrix lol logo")
	.clearfix
	.main-nav
		.nav-wrap
			+nav([
				{href: '#', text: 'MEMBERS', title: 'MEMBERS'},
				{href: '#', text: 'BLOGS', title: 'BLOGS'},
				{href: '#', text: 'TOURNAMENTS', title: 'TOURNAMENTS'},
				{href: '#', text: 'VIDEOS', title: 'VIDEOS'},
				{href: '#', text: 'NEWS', title: 'NEWS'}
			])
			.clearfix