extends layouts/layout

block vars
	-title = 'Homepage'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	#lol-container.lol-container.tournament
		.center-container
			.tournament-title
				.logo
					img(src="images/logo/tournament-logo.png" alt="tournament")
				.title
					.series SUTRIX LEAGUE OF LEGENDS CHAMPIONSHIP
					.hr
					.season FALL 2015
			.tournament-teams
				h2.title TEAMS
				.teams
					img(src="images/logo/logo-team-dk.png" alt="dk team")
					img(src="images/logo/logo-team-gtdb.png" alt="gtdb team")
					img(src="images/logo/logo-team-nm.png" alt="nm team")
			.tournament-battles
				h2.title BATTLES
				.battles
					a(href="#")
						.battle
							.team.blue
								.logo
									img(src="images/logo/logo-team-gtdb.png" alt="gtdb team")
								.team-info
									.name
										span GANH TEAM DOI BAN				
									.team 
										span Frontend team
							.team.red
								.logo
									img(src="images/logo/logo-team-nm.png" alt="nightmare team")
								.team-info
									.name
										span NIGHTMARE
									.team
										span Frontend team
									.win WINNER										
							.clearfix
							.vs
								.text VS
								.time 22:00 PM - 13/07
							.video
					a(href="#")
						.battle
							.team.blue
								.logo
									img(src="images/logo/logo-team-gtdb.png" alt="gtdb team")
								.team-info
									.name
										span GANH TEAM DOI BAN		
									.team 
										span Frontend team
							.team.red
								.logo
									img(src="images/logo/logo-team-dk.png" alt="nightmare team")
								.team-info
									.name
										span DARK KNIGHT
									.team
										span Frontend team
									.win WINNER
							.clearfix
							.vs
								.text VS
								.time 22:00 PM - 13/07
							.video 
					a(href="https://www.youtube.com/watch?v=pA_Ji-NrHFs" target="_blank")
						.battle
							.team.blue
								.logo
									img(src="images/logo/logo-team-nm.png" alt="gtdb team")
								.team-info
									.name
										span NIGHTMARE			
									.team 
										span Frontend team
							.team.red
								.logo
									img(src="images/logo/logo-team-dk.png" alt="nightmare team")
								.team-info
									.name
										span DARK KNIGHT
									.team
										span Frontend team
									.win WINNER
							.clearfix
							.vs
								.text VS
								.time 22:00 PM - 13/07
							.video(style="background-image: url(http://img.youtube.com/vi/pA_Ji-NrHFs/0.jpg)") 
					a(href="#" target="_blank")
						.battle
							.team.blue
								.logo
									img(src="images/logo/logo-team-nm.png" alt="gtdb team")
								.team-info
									.name
										span NIGHTMARE				
									.team 
										span Frontend team
							.team.red
								.logo
									img(src="images/logo/logo-team-gtdb.png" alt="nightmare team")
								.team-info
									.name
										span GANH TEAM DOI BAN
									.team
										span Frontend team
							.clearfix
							.vs
								.text VS
								.time 22:00 PM - 13/07
							.video 
					a(href="#" target="_blank")
						.battle
							.team.blue
								.logo
									img(src="images/logo/logo-team-dk.png" alt="gtdb team")
								.team-info
									.name
										span DARK KNIGHT		
									.team 
										span Frontend team
							.team.red
								.logo
									img(src="images/logo/logo-team-gtdb.png" alt="nightmare team")
								.team-info
									.name
										span GANH TEAM DOI BAN
									.team
										span Frontend team
							.clearfix
							.vs
								.text VS
								.time 22:00 PM - 13/07
							.video 
					a(href="#" target="_blank")
						.battle
							.team.blue
								.logo
									img(src="images/logo/logo-team-dk.png" alt="gtdb team")
								.team-info
									.name
										span DARK KNIGHT		
									.team 
										span Frontend team
							.team.red
								.logo
									img(src="images/logo/logo-team-nm.png" alt="nightmare team")
								.team-info
									.name
										span NIGHTMARE
									.team
										span Frontend team
							.clearfix
							.vs
								.text VS
								.time 22:00 PM - 13/07
							.video
